body{
    background: white;
    font-family: Georgia, sans-serif;
    color: #4079BE;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}
h1{
    color: #093B7A;
    font-family: Georgia, sans-serif;
    font-size: 60px;
    text-align: center;
    padding-top: 25px;
}
h2{
    color: #2F598D;
    font-size: 25px;
    padding-top: 15px;
}
#headerborder{
    border: 10px solid white;
    border-radius: 5px;
}
#boxshadow1{
    border: 1px solid;
    box-shadow: 5px 10px;
}
p{
    font-size:20px;
}
li{
    font-size:20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center-extended{
    width: 50%;
}
.just-page3-center{
    width: 25%;
}
blockquote{
    padding-top:25px;
    font-family: arial, serif;
    color:#3C5A7F;
}
.blockquote-footer{
    font-size: 18px;
    color:#7C8CA1;
}
